@font-face {
   font-family: 'ProductSans-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Dell/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-30_205927/fonts/ProductSans-Regular/font.ttf');
}
